.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.group {
	display: flex;
	gap: 0.5rem;
}

.toggle {
	flex: 1 0 0;
	inline-size: 2rem;
	block-size: 2rem;
	background: var(--background);
	border-radius: 100vmax;
	border: 2px solid transparent;

	span {
		display: none;
	}

	&[data-state="on"] {
		border: 2px solid var(--color-primary);
		pointer-events: none;
	}
}
