.switch {
	--layout-direction: row; /* row or row-reverse */
	--thumb-size: 28px;
	--thumb-color: white;
	--track-size: calc(var(--thumb-size) * 1.75);
	--track-padding: 4px;
	--transition-timing: 150ms;
	--transition-ease: ease-out;
	--background-color: var(--elevation-1);

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;

	label {
		user-select: none;
		font-size: 0.9375rem;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	}

	[role="switch"] {
		--thumb-position: 0%;

		appearance: none;

		inline-size: var(--track-size);
		background-color: var(--background-color);
		border: var(--border);
		border-radius: var(--thumb-size);
		cursor: pointer;

		flex-shrink: 0;
		display: grid;
		align-items: center;
		grid: [track] 1fr / [track] 1fr;
		overflow: hidden;
		margin: 0;

		transition: background-color var(--transition-timing) var(--transition-ease);

		&::before {
			box-sizing: border-box;
			content: "";
			grid-area: track;

			inline-size: var(--thumb-size);
			block-size: var(--thumb-size);
			aspect-ratio: 1/1;
			background: var(--thumb-color);
			border: var(--track-padding) solid transparent;
			background-clip: padding-box;
			border-radius: var(--thumb-size);

			transform: translateX(var(--thumb-position));
			transition: transform var(--transition-timing) var(--transition-ease),
				border var(--transition-timing) var(--transition-ease),
				background var(--transition-timing) var(--transition-ease);
		}

		/* &:not(:checked):hover,
		[data-switch-group] label:hover + &:not(:checked) {
			--background-opacity: var(--hover-background-opacity);
			--border-opacity: var(--hover-border-opacity);
		} */

		&:checked {
			--thumb-position: calc(var(--track-size) - 100%);
			--background-color: var(--color-primary);
		}

		&:focus-visible {
			outline: var(--outline-size) var(--outline-style)
				oklch(var(--outline-color-oklch) / var(--outline-opacity));
			outline-offset: var(--outline-offset);
		}
	}
}
