.switch {
	--thumb-size: 24px;
	--thumb-color: white;
	--track-size: calc(var(--thumb-size) * 1.75 + var(--track-padding) * 2);
	--track-padding: 4px;
	--transition-timing: 150ms;
	--transition-ease: ease-out;
	--background-color: var(--elevation-1);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	label {
		user-select: none;
		font-size: 0.9375rem;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
			Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	}

	&[data-switch-position="left"] {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	[role="switch"] {
		--thumb-position: 0%;

		appearance: none;
		padding: var(--track-padding);
		inline-size: var(--track-size);
		background-color: var(--background-color);
		border-radius: var(--thumb-size);

		flex-shrink: 0;
		display: grid;
		grid: [track] 1fr / [track] 1fr;
		margin: 0;

		transition: background-color var(--transition-timing) var(--transition-ease);

		&::before {
			content: "";
			grid-area: track;

			inline-size: var(--thumb-size);
			block-size: var(--thumb-size);
			background: var(--thumb-color);
			border-radius: var(--thumb-size);

			translate: var(--thumb-position);
			transition: translate var(--transition-timing) var(--transition-ease),
				border var(--transition-timing) var(--transition-ease),
				background var(--transition-timing) var(--transition-ease);
		}

		/* &:not(:checked):hover,
		[data-switch-group] label:hover + &:not(:checked) {
			--background-opacity: var(--hover-background-opacity);
			--border-opacity: var(--hover-border-opacity);
		} */

		&:checked {
			--thumb-position: calc(
				var(--track-size) - var(--thumb-size) - var(--track-padding) * 2
			);
			--background-color: var(--color-primary);
		}

		&:focus-visible {
			outline: var(--outline-size) var(--outline-style)
				oklch(var(--outline-color-oklch) / var(--outline-opacity));
			outline-offset: var(--outline-offset);
		}
	}
}
