@import "./base/layers.css";
@import "./base/reset.css";
@import "./base/colors.css";

:where(html) {
	--brad: 0.1875rem;
	--brad-lg: 0.5rem;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:where(html, [data-elevation="0"]) {
	--background: var(--color-white);
	--foreground: var(--color-gray-900);
	--foreground-md: var(--color-gray-700);
	--foreground-inverted: var(--background);
	--border-color-lt: var(--color-gray-150);
	--border-lt: 1px solid var(--border-color-lt);
	--elevation-1: var(--color-gray-150);

	--color-primary: var(--color-blue);

	@media (prefers-color-scheme: dark) {
		--background: var(--color-gray-900);
		--foreground: var(--color-gray-50);
		--foreground-md: var(--color-gray-250);
		--border-color-lt: var(--color-gray-750);
		--elevation-1: var(--color-gray-750);
	}

	[data-elevation="1"] & {
		border: var(--border-lt);
		border-radius: var(--brad-lg);
	}

	background: var(--background);
	color: var(--foreground);
}

[data-elevation="1"] {
	--background: var(--color-gray-50);
	/* --foreground: var(--color-gray-900);
	--foreground-md: var(--color-gray-700);
	--foreground-inverted: var(--background);
	--border-color-lt: var(--color-gray-150);
	--border-lt: 1px solid var(--border-color-lt);
	--elevation-1: var(--color-gray-150); */

	@media (prefers-color-scheme: dark) {
		--background: var(--color-gray-850);
		/* --foreground: var(--color-gray-50);
		--foreground-md: var(--color-gray-250);
		--border-color-lt: var(--color-gray-750);
		--elevation-1: var(--color-gray-750); */
	}

	background: var(--background);
	color: var(--foreground);
	border: var(--border-lt);
	border-radius: var(--brad-lg);
}

[data-elevation="2"] {
	--background: var(--color-gray-100);
	/* --foreground: var(--color-gray-900);
	--foreground-md: var(--color-gray-700);
	--foreground-inverted: var(--background); */
	--border-color-lt: var(--color-gray-200);
	--border-lt: 1px solid var(--border-color-lt);
	--elevation-1: var(--color-gray-200);

	@media (prefers-color-scheme: dark) {
		--background: var(--color-gray-800);
		/* --foreground: var(--color-gray-50); */
		/* --foreground-md: var(--color-gray-250); */
		--border-color-lt: var(--color-gray-700);
		--elevation-1: var(--color-gray-700);
	}

	background: var(--background);
	color: var(--foreground);
	border: var(--border-lt);
	border-radius: var(--brad-lg);
}
