.wrapper {
	--border-radius-inner: 0.5rem;
	--border-radius-outer: calc(var(--brad-lg) + var(--border-radius-inner));

	position: relative;
	border-radius: var(--border-radius-outer);
	padding: 0.5rem;

	&[data-grid="true"] {
		display: flex;
		flex-direction: column-reverse;
		/* aspect-ratio: var(--aspect-ratio); */

		@media screen and (min-width: 640px) {
			display: grid;
			grid-template-columns: 7fr 9fr;
		}
	}
}
