.btn {
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.75rem;
	color: var(--foreground);
	background: var(--background);
	border: var(--border-lt);
	border-radius: 100vmax;
	transition: opacity 150ms ease-out, background 150ms ease-out;

	&:disabled {
		opacity: 0.5;
	}

	@media (hover: hover) {
		&:not(:disabled):hover {
			background: var(--elevation-1);
		}
	}
}

@keyframes post-demo-code-highlight {
	0%,
	50% {
		background: var(--color-primary);
		color: var(--foreground-inverted);
	}
	100% {
		background: var(--elevation-1);
		color: var(--foreground);
	}
}

/* Code class from SVGGrid with line numbers */
/* .code {
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	justify-content: center;
	font-family: monospace;
	font-size: 0.875em;
	padding: 0.5rem;
	counter-reset: code-counter;

	.highlight {
		background: var(--elevation-1);
		font-weight: 700;

		&[data-active] {
			background: var(--color-primary);
			color: var(--foreground-inverted);
		}
	}

	p {
		--offset: 6ch;
		position: relative;
		padding-inline-start: var(--offset);
		counter-increment: code-counter;

		&.tab1 {
			padding-inline-start: calc(var(--offset) + 2ch);
		}

		&.tab2 {
			padding-inline-start: calc(var(--offset) + 4ch);
		}

		&::before {
			content: counter(code-counter, decimal-leading-zero);
			position: absolute;
			left: 1ch;
			top: 0;
			opacity: 0.5;
		}
	}

	.point {
		background: oklch(62% 0.15 var(--hue));
		color: var(--foreground-inverted);
		font-weight: 600;
		padding: 0.0625rem 0.1875rem;
		border-radius: 0.125rem;
		white-space: nowrap;
	}
} */
