.main {
	display: grid;
	position: relative;
	background: #060709;
	min-height: 100vh;

	& > * {
		grid-column: -1 / 1;
		grid-row: -1 / 1;
	}

	section {
		position: relative;
		min-height: 100%;
		padding: 0.75rem 1rem 4rem;

		@media (width > 880px) {
			padding: 1.5rem 2rem 4rem;
		}
	}
}

.headline {
	display: grid;
	gap: 0.75em;
	line-height: 1.4;
	font-weight: 250;
	font-size: 1.5rem;
	max-width: 47ch;
	color: rgb(255 255 255 / 0.7);
	text-wrap: pretty;
	margin-bottom: 1em;

	.highlight {
		font-weight: 500;
		color: rgb(255 255 255 / 1);
	}

	@media (width > 640px) {
		font-size: 1.875rem;
	}

	@media (width > 880px) {
		font-size: 2.25rem;
	}

	span::selection {
		background-color: rgb(255 255 255 / 0.9);
		color: #000;
	}
}

.links {
	display: flex;
	gap: 1.5rem;
	padding: 0;
	user-select: none;

	li {
		list-style: none;
	}

	a {
		display: flex;
		gap: 0.5rem;
		text-decoration: none;
	}
}

/* .main {
	--max-width: min(62ch, 100%);

	display: grid;
	gap: 3rem;

	max-width: var(--max-width);
	margin-inline: auto;
	padding: 5rem 1rem;
}

.header {
	display: flex;
	align-items: center;
	gap: 1rem;

	img {
		border: var(--border-lt);
		border-radius: 10vmax;
		width: 3rem;
		height: auto;
	}

	& > div {
		flex-grow: 1;
		display: grid;
		gap: 0.25rem;
	}

	h1 {
		font-size: 1.25rem;
		font-weight: 500;
	}

	h2 {
		font-size: 1rem;
		font-weight: 350;
		color: var(--foreground-md);
	}
}

.content {
	display: grid;
	gap: 2rem;

	.bio {
		display: grid;
		gap: 1rem;

		font-weight: 350;
		color: var(--foreground-md);

		strong {
			font-weight: 500;
			color: var(--foreground);
		}
	}

	.links {
		ul {
			display: flex;
			gap: 0rem 1rem;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			text-decoration: none;

			.arrow {
				color: var(--foreground-md);
			}
		}
	}
}
.hr {
	border-top: var(--border-lt);
}

.posts {
	display: grid;
	gap: 1.5rem;

	h3 {
		font-size: 0.875rem;
		font-weight: 400;
		color: var(--foreground-md);
	}
}

.post {
	display: grid;
	gap: 1rem;
	padding: 1.5rem;
	text-decoration: none;

	h3 {
		font-size: 1.125rem;
		font-weight: 500;
		color: var(--foreground);
	}

	p {
		font-size: 0.9375rem;
		font-weight: 350;
		color: var(--foreground-md);
		line-height: 1.625;
	}
} */
