.range {
	--thumb-size: 1.25rem;
	--track-height: 0.25rem;
	--track-padding-block: calc(var(--thumb-size) / 2);

	display: grid;
	grid-template-areas:
		"label output"
		"track track";
	grid-template-columns: 1fr auto;
	row-gap: 0.375rem;
	padding-block-end: var(--track-padding-block);

	.label {
		font-size: 0.875rem;
		font-weight: 500;
		grid-area: label;
	}

	.output {
		font-size: 0.875rem;
		font-weight: 500;
		grid-area: output;
		font-variant-numeric: tabular-nums;
	}

	.track {
		grid-area: track;
		position: relative;
		height: var(--thumb-size);

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			inset-inline: 0;
			height: var(--track-height);
			translate: 0 -50%;
			background: var(--color-background-1);
			background: linear-gradient(
				to right in oklch,
				var(--color-primary) var(--progress),
				var(--color-background-1) var(--progress)
			);
			border-radius: 100vmax;
		}
	}

	.thumb {
		width: var(--thumb-size);
		height: var(--thumb-size);
		border-radius: 50%;
		background: var(--color-primary);
		border: 2px solid var(--color-background-0);
		forced-color-adjust: none;
		translate: 0% 50%;

		&[data-dragging] {
			outline: 2px solid var(--color-primary);
		}

		&[data-focus-visible] {
			outline: 2px solid var(--color-primary);
		}
	}
}
