.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: clip;
	aspect-ratio: 16 / 9;
	padding: 0.5rem;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	padding: 2rem;
}

.inputs {
	display: grid;
	gap: 16px;
}

.canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: clip;
	aspect-ratio: 1 / 1;
}

.background {
	fill: var(--elevation-1);
}

.foreground {
	fill: var(--color-primary);
}
