.container {
	--background: var(--color-background-1);

	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px var(--border-light);
	background-color: var(--background);
	border-radius: 0.375rem;
	overflow: clip;
	aspect-ratio: 16 / 9;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	padding: 2rem;
}

.inputs {
	display: grid;
	gap: 12px;
}

.canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-0);
}

.background {
	fill: oklch(var(--color-foreground-0-lch) / 0.15);
}

.foreground {
	fill: var(--color-primary);
}
