.container {
	--brad-this: calc(var(--brad-lg) + 0.5rem);

	display: grid;
	grid-template-columns: 1fr max-content;
	aspect-ratio: 16 / 9;
	border-radius: var(--brad-this);
	padding: 0.5rem;
	padding-inline-start: 0;

	&:has([data-active-edge]) {
		cursor: col-resize;
	}
}

.content {
	display: grid;
	grid-template-rows: 1fr;
	/* padding-inline-start: 0.75rem; */
}

/* .controls {
	padding-block-end: 1rem;
	border-bottom: var(--border-lt);
}
} */

.code {
	display: flex;
	flex-direction: column;
	gap: 0.375em;
	justify-content: center;
	font-family: monospace;
	font-size: 0.875em;
	padding: 0.5rem;
	counter-reset: code-counter;

	.highlight {
		background: var(--elevation-1);
		font-weight: 700;

		&[data-active] {
			background: var(--color-primary);
			color: var(--foreground-inverted);
		}
	}

	p {
		--offset: 6ch;
		position: relative;
		padding-inline-start: var(--offset);
		counter-increment: code-counter;

		&.tab1 {
			padding-inline-start: calc(var(--offset) + 2ch);
		}

		&.tab2 {
			padding-inline-start: calc(var(--offset) + 4ch);
		}

		&::before {
			content: counter(code-counter, decimal-leading-zero);
			position: absolute;
			left: 1ch;
			top: 0;
			opacity: 0.5;
		}
	}

	.point {
		background: oklch(62% 0.15 var(--hue));
		color: var(--foreground-inverted);
		font-weight: 600;
		padding: 0.0625rem 0.1875rem;
		border-radius: 0.125rem;
		white-space: nowrap;
	}
}

.canvas {
	position: relative;
	display: flex;
	justify-content: center;
	aspect-ratio: 1 / 1;
	align-items: center;
	overflow: clip;
}

.target {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.wrapper {
	position: relative;
}

.edge {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: "";
		width: 0.25rem;
		height: 2.5rem;
		background: var(--foreground);
		border-radius: 100vmax;
		opacity: 0;
		transition: opacity 50ms ease-out;
	}

	&:hover {
		cursor: col-resize;

		&::before {
			opacity: 1;
		}
	}
}

.edgeRight {
	right: 0;
	translate: 50%;

	[data-active-edge="right"] &::before {
		opacity: 1;
	}
}

.edgeLeft {
	left: 0;
	translate: -50%;

	[data-active-edge="left"] &::before {
		opacity: 1;
	}
}

.svg {
	background: var(--elevation-1);

	circle {
		fill: var(--color-primary);
		stroke-width: 0.5;
		stroke: var(--foreground);
	}
}
