.group {
	display: flex;
}

.toggle {
	flex: 1 0 0;
	padding-inline: 1rem;
	padding-block: 0.75rem;
	border: var(--border-lt);
	border-right: none;
	color: var(--foreground-md);
	font-weight: 500;
	user-select: none;

	&[data-state="on"] {
		background-color: var(--color-primary);
		color: var(--foreground-inverted);
		pointer-events: none;
	}

	&:first-of-type {
		border-radius: 0.375rem 0 0 0.375rem;
	}

	&:last-of-type {
		border-radius: 0 0.375rem 0.375rem 0;
		border-right: var(--border-lt);
	}
}
